:root {
	/* 主题色 */
	--theme-color: #fff;
	--theme-bg-color: #242424;
	--theme-header-color: #e60026;

	/* logo色 */
	--logo-color: #fff;
	--logo-bg-color: #e60026;

	/* 菜单色 */
	--menu-bg-color: #6b6868;
	--menu-active-bg-color: #000;

	/* 主背景色 */
	--main-bg-color: #29b8db;
}